@mixin box-shadow($x, $y, $blur, $spread) {
  box-shadow:         $x $y $blur $spread rgba(0,0,0,0.75);
}
@mixin rotate($deg) {
  transform: rotate($deg);
}
@mixin plus-icon($width, $lineWidth, $color, $borderRadius){
    margin: ($width - $lineWidth)/2 $lineWidth/2;
    display: inline-block;
    position: relative;
    background: $color;
    height: $lineWidth;
    width: $width - $lineWidth;
    border-radius: $borderRadius;
    @include box-shadow(0.5px, 0.5px, 2px, .5px);
  &:after {
    position: absolute;
    background: $color;
    content: "";
    height: $width - $lineWidth;
    width: $lineWidth;
    border-radius: $borderRadius;
    left: ($width/2) - $lineWidth;
    top: -($width/2) + $lineWidth;
    @include box-shadow(0.5px, 0.5px, 2px, .5px);
  }
}