@import 'mixins';
@import 'general';
@import 'app';

.plus {
  @include plus-icon(40px, 5px, #121E2F, 2px)
}
.content {
  position: relative;
  margin: 0 auto;
  margin-top: 45px;
  width: 80%;
  height: auto;
  font-size: small;
  text-align: center;
}
.set-tile {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  background: lighten(#D0E9F7, 6%);
  @include box-shadow(0.5px, 0.5px, 4px, .5px);
}
.set-tile:hover, .plus:hover, button:hover {
  position: relative;
  top: 1px;
}
/* RESULTS PAGE */
.main.results {
  & .percent-score {
    font-size: 50pt;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  & .score {
    font-size: x-large;
    padding-top: 0;
    margin-top: 0;
  }
  & .time {
    font-size: large;
    letter-spacing: 1.5px;
    border-bottom: 5px darken(#f2f2f2, 10%) dashed;
    padding-bottom: 15px;
  }
}
/* PRACTISE PAGE */

/* VIEW SETS PAGE */
.main.view {
  background: #f2f2f2;
  & table {
    width: 90%;
    margin: 5%;
    & .value {
      text-align: left;
      background: #f8f;
    }
  }
  .plus {
    @include plus-icon(15px, 2px, #121E2F, 2px);
    margin-left: 80%;
    @include rotate(45deg);
  }
}
table, th, td {
    border: 2px darken(#f2f2f2, 10%) dashed;
    border-collapse: collapse;
}
th,td {
    padding: 10px;
}