@mixin box-shadow($x, $y, $blur, $spread) {
  box-shadow:         $x $y $blur $spread rgba(0,0,0,0.75);
}
@mixin rotate($deg) {
  transform: rotate($deg);
}
@mixin plus-icon($width, $lineWidth, $color, $borderRadius){
    margin: ($width - $lineWidth)/2 $lineWidth/2;
    display: inline-block;
    position: relative;
    background: $color;
    height: $lineWidth;
    width: $width - $lineWidth;
    border-radius: $borderRadius;
    @include box-shadow(0.5px, 0.5px, 2px, .5px);
  &:after {
    position: absolute;
    background: $color;
    content: "";
    height: $width - $lineWidth;
    width: $lineWidth;
    border-radius: $borderRadius;
    left: ($width/2) - $lineWidth;
    top: -($width/2) + $lineWidth;
    @include box-shadow(0.5px, 0.5px, 2px, .5px);
  }
}

body, nav, ul, table, div, img, a {
  margin: 0;
  padding: 0;
}
body {
  background: url('../assets/skulls.png');
  font-family: 'Raleway','Open Sans', sans-serif;
  position: absolute;
  width: 100%;
}
ul {
  margin: auto;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
nav {
  position: fixed;
  width: 100%;
  height: 40px;
  background: url('../assets/noisy_net.png') #222222;
  z-index: 1000;
  @include box-shadow(0px, 1px, 10px, .2px);
  & ul {
    position: absolute;
    display: inline-block;
    width: 50%;
    margin-left: 15%;
    font-size: 1.1em;
    & li {
      line-height: 40px;
      display: inline-block;
      padding: 0 40px;
      color: #DEFFFE;
    }
    & a.logo {
      color: #DEFFFE;
      letter-spacing: 5px;
      text-transform: uppercase;
      font-family: 'Raleway';
      text-shadow: .3px .3px .3px #fff;
      font-size: x-large;
    }
  }
  & .settings {
    position: static;
    float: right;
    padding-top: 5px;
    margin-right: 24%;
    height: 30px;
    width: 30px;
    & img {
      width: 100%;
      height: 100%;
    }
    & a {
      display: inline-block;
    }
  }
}
.plus {
  @include plus-icon(40px, 5px, #121E2F, 2px)
}
.content {
  position: relative;
  margin: 0 auto;
  margin-top: 45px;
  width: 80%;
  height: auto;
  font-size: small;
  text-align: center;
}
.set-tile {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  background: lighten(#D0E9F7, 6%);
  @include box-shadow(0.5px, 0.5px, 4px, .5px);
}
.set-tile:hover {
  position: relative;
  top: 2px;
}
.heading {
  padding: 30px;
  letter-spacing: 3px;
  color: #04012C;
  word-spacing: 8px;
  text-shadow: .3px .3px .3px #000;
  a {
    text-decoration: underline;
  }
}


input[type='submit'] {
  border: 0;
    background-color: #E2E2E2;
    height: 20px;
    min-width: 70px;
    line-height: 20px;
    letter-spacing: .5px;
    @include box-shadow(0.5px, 0.5px, 0.5px, 0.5px);
}
#pair-list {
  position: relative;
  overflow: auto;
  height: auto;
  margin-top: 150px;
  & li {
    background: white;
    padding: 3px;
    margin: 8px 35px;
    width: 50%;
    font-size: medium;
    cursor: pointer;
    letter-spacing: .1px;
    @include box-shadow(0.5px, 0.5px, 0.5px, 0.5px);
  }
  & button {
    margin: 5px;
    border: 0;
    background-color: #E2E2E2;
    font-size: medium;
    height: 30px;
    width: 70px;
    line-height: 30px;
    letter-spacing: .5px;
    @include box-shadow(0.5px, 0.5px, 0.5px, 0.5px);
}
}
#leftcol, #rightcol {
  position: absolute;
  float: left;
  width: 50%;
}
#rightcol {
  float: right;
  margin-left: 50%;
}
#leftcol li {
  float: right;
}
#rightcol li {
  float: left;
}
.line {
  position: absolute;
  background-color: #5E88D0;
  height: 2px;
  display: block;
  border-radius: 1px;
  z-index: -1;
  @include box-shadow(0.2px, 0.2px, 0.2px, 0.2px);
}
.line-correct {
  position: absolute;
  background-color: #17BB1F;
  height: 2px;
  display: block;
  border-radius: 1px;
}
#message {
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-top: -50px;
  padding: 5px;
  height: 35px;
  line-height: 35px;
  background: lighten(#A4D9C0, 20%);
  color: #000;
  font-size: large;
  @include box-shadow(0px, 0px, 1px, 1px);
}
#remove-message {
  float: right;
  cursor: pointer;
  font-size: large;
  line-height: 35px;
  margin-right: 10px;
}
.selected {
  position: relative;
  bottom: 3px;
  background: lighten(#668CD6, 20%) !important;
  color: darken(#FFFC75, 90%);
  @include box-shadow(0px, 0px, 1px, 1px);
}
.mistake {
  background: #D92424 !important;
  color: white;
}
.correct {
  background: #17BB1F !important;
  color: white;
}